<link rel="stylesheet" href="/css/header.css">

<nav>
    <div id="app-name">
        <i class="fa-solid fa-book-open"></i>
        <a href="/">
            <h3 class="header">CSV VIEWER</h3>
        </a>



    </div>
</nav>