<link rel="stylesheet" href="css/home.css">

<div id="file-upload-container">
    <div id="upload-file-section">
        <form action="/upload-file" enctype="multipart/form-data" method="POST">
            <span>Upload CSV File:</span><br>
            <div id="input-button">

                <input type="file" name="csvFile" id="csvFile" required /> <br>
            </div>
            <div id="submit-button">
                <button type="submit">Import CSV File</button>
            </div>

        </form>

    </div>
    <div id="show-files">
        <h3>File List</h3>
        <% for(file of files){%>

            <div class="file">
                <div class="file-name">
                    <p>
                        <%= file.name %>
                    </p>
                </div>
                <div class="open-button" file-name="<%= file.name %>">
                    <a href="/read-csv-file/<%= file.name %>">
                        <button type="submit">Open File</button></a>
                </div>
            </div>
            <%}%>


    </div>
</div>